In [3]:
import pandas as pd

In [4]:
dic={'actual':[0,1,2,1,1,2,0,2,0,3],'predict':[0,0,0,1,1,1,2,2,2,3]}

In [5]:
df=pd.DataFrame(dic)

In [6]:
df

   actual  predict
0       0        0
1       1        0
2       2        0
3       1        1
4       1        1
5       2        1
6       0        2
7       2        2
8       0        2
9       3        3

In [7]:
# pd.crosstab(df,index='actual',columns='predict')
temp=pd.crosstab(df['actual'],df['predict'], rownames=['actual'], colnames=['predict'])

In [8]:
temp

predict  0  1  2  3
actual
0        1  0  2  0
1        1  2  0  0
2        1  1  1  0
3        0  0  0  1

In [25]:
c=2
temp.drop(index=c).values[:,c]

array([2, 0], dtype=int64)

In [39]:
a=list(temp.index)
a.remove(2)
a

[0, 1]

In [ ]:
def manual_confusion_matrix(x):
    a=pd.DataFrame()

# false positive

In [7]:
c=0
temp.drop(index=c).values[:,c]

array([2, 1], dtype=int64)

In [8]:
c=1
temp.drop(index=c).values[:,c]

array([0, 1], dtype=int64)

In [9]:
c=2
temp.drop(index=c).values[:,c]

array([2, 0], dtype=int64)

In [11]:
temp

predict  0  1  2
actual
0        1  0  2
1        2  2  0
2        1  1  1

# false negative

In [15]:
c=0
temp.drop(labels=c,axis=1).values[c,:]

array([0, 2], dtype=int64)

In [16]:
c=1
temp.drop(labels=c,axis=1).values[c,:]

array([2, 0], dtype=int64)

In [17]:
c=2
temp.drop(labels=c,axis=1).values[c,:]

array([1, 1], dtype=int64)

# true positive

In [18]:
c=0
temp.values[c,c]

1

In [19]:
c=1
temp.values[c,c]

2

In [20]:
c=2
temp.values[c,c]

1

In [22]:
temp

predict  0  1  2
actual
0        1  0  2
1        2  2  0
2        1  1  1

# true negative

In [35]:
c=0
temp.drop(c,axis=1).drop(c,axis=0).values[:,:]

array([[2, 0],
       [1, 1]], dtype=int64)

In [36]:
c=1
temp.drop(c,axis=1).drop(c,axis=0).values[:,:]

array([[1, 2],
       [1, 1]], dtype=int64)

In [37]:
c=2
temp.drop(c,axis=1).drop(c,axis=0).values[:,:]

array([[1, 0],
       [2, 2]], dtype=int64)

In [9]:
def manual_confusion_matrix(x):
    out=pd.DataFrame(columns=['fp','fn','tp','tn'])
    for i in x.index:
        out=out.append({'fp':sum(temp.drop(index=i).values[:,i]),'fn':sum(temp.drop(labels=i,axis=1).values[i,:]),'tp':temp.values[i,i],'tn':sum(sum(temp.drop(i,axis=1).drop(i,axis=0).values[:,:]))},ignore_index = True)
    return out

In [10]:
temp

predict  0  1  2  3
actual
0        1  0  2  0
1        1  2  0  0
2        1  1  1  0
3        0  0  0  1

In [11]:
manual_confusion_matrix(temp)

C:\Users\kumut\AppData\Local\Temp\ipykernel_18504\2276127722.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  out=out.append({'fp':sum(temp.drop(index=i).values[:,i]),'fn':sum(temp.drop(labels=i,axis=1).values[i,:]),'tp':temp.values[i,i],'tn':sum(sum(temp.drop(i,axis=1).drop(i,axis=0).values[:,:]))},ignore_index = True)
C:\Users\kumut\AppData\Local\Temp\ipykernel_18504\2276127722.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  out=out.append({'fp':sum(temp.drop(index=i).values[:,i]),'fn':sum(temp.drop(labels=i,axis=1).values[i,:]),'tp':temp.values[i,i],'tn':sum(sum(temp.drop(i,axis=1).drop(i,axis=0).values[:,:]))},ignore_index = True)
C:\Users\kumut\AppData\Local\Temp\ipykernel_18504\2276127722.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  out=out.append({'fp':sum(temp.drop(index=i).values[:,i]),'fn':sum(temp.drop(labels=i,axis=1).values[i,:]),'tp':temp.values[i,i],'tn':sum(sum(temp.drop(i,axis=1).drop(i,axis=0).values[:,:]))},ignore_index = True)
C:\Users\kumut\AppData\Local\Temp\ipykernel_18504\2276127722.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  out=out.append({'fp':sum(temp.drop(index=i).values[:,i]),'fn':sum(temp.drop(labels=i,axis=1).values[i,:]),'tp':temp.values[i,i],'tn':sum(sum(temp.drop(i,axis=1).drop(i,axis=0).values[:,:]))},ignore_index = True)

  fp fn tp tn
0  2  2  1  5
1  1  1  2  6
2  2  2  1  5
3  0  0  1  9

In [68]:
c=0
sum(sum(temp.drop(c,axis=1).drop(c,axis=0).values[:,:]))

4